<!DOCTYPE html>
<html lang="en">

<head>

    <%- include("../Components/header.ejs")%>
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include("../Components/sidebar.ejs")%>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" style="background-color: #ce452a09" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <%- include("../Components/topbar.ejs")%>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <%- include("../Pages/Tuition/tuition.ejs")%>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <%- include("../Components/footer.ejs")%>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <%- include("../Components/scripts.ejs")%>
    <%- include("../Pages/Tuition/tuitionscript.ejs")%>

</body>

</html>